<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <!-- Add a Form with the following Inputs (and Validators)
                 1) Mail address (should not be empty and should be an email address)
                 2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
                    Set "Advanced" as Default
                 3) A Password field (should not be empty)
                 4) A Submit Button

                 Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

                 Upon submitting the form, you should simply print the Value of the Form to the Console.
                 Optionally, display it in your template.
            -->
            <div
                *ngIf="!myForm.valid && myForm.touched"
                class="alert alert-info"
                role="alert">Please complete the field below</div>
            <form
                (ngSubmit)="onSubmit()"
                #myForm="ngForm"
                class="form-horizontal">
                <div class="form-group">
                    <label
                        for="email"
                        class="col-xs-2 control-label">Email Address</label>
                    <div class="col-xs-10">
                        <input
                            ngModel
                            #email="ngModel"
                            name="email"
                            type="email"
                            class="form-control"
                            required
                            email>
                        <span
                            class="help-block"
                            *ngIf="!email.valid && email.touched">Please enter a valid value!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label
                        for="subscriptions"
                        class="col-xs-2">Subscriptions</label>
                    <div class="col-xs-10">
                        <select
                            [ngModel]="defaultSubscription"
                            #subscription="ngModel"
                            name="subscription"
                            class="form-control"
                            required>
                            <option></option>
                            <option
                                *ngFor="let sub of subscriptions"
                                [value]="sub">{{ sub }}</option>
                        </select>
                        <span
                            *ngIf="!subscription.valid && subscription.touched"
                            class="help-block">Please select a subscription</span>
                    </div>
                </div>
                <div class="form-group">
                    <label
                        for="password"
                        class="col-xs-2">Password</label>
                    <div class="col-xs-10">
                        <input
                            type="password"
                            ngModel
                            name="password"
                            #password="ngModel"
                            class="form-control"
                            required>
                        <span
                            *ngIf="!password.valid && password.touched"
                            class="help-block">Please enter a valid password</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <button
                            type="submit"
                            class="btn btn-primary"
                            [disabled]="!myForm.valid">Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
